.input-error{
  margin: 20px 0px 0px 40px;
  font-size: 12px;
  font-weight: 600;
  color: $red;
}

.putup{
  width: 100%;
  background-color: $whitesmoke;
  &__header{
    text-align: center;
    &__logo{
      margin: 30px 0px;
      width: 150px;
    }
    &__logo:hover{
      opacity: 0.7;
    }
  }

  &__main{
    max-width: 700px;
    margin:0 auto;
    background-color: $white;
    &__upload{
      padding-top: 40px;

      &__title{
        margin-left: 40px;
        font-weight: bold;
        font-size: 14px;
        &__imperative{
          background-color: $main-color;
          color: $white;
          font-size: 12px;
          font-weight: 300;
          border-radius: 2px;
          margin: 4px;
          padding: 4px;
          vertical-align: top;
        }
      }
      &__description{
        margin: 20px 0px 0px 40px;
        font-size: 14px;
      }
      &__image-box{
        margin: 20px 40px 0px 40px;
        width: calc(100% - 80px);
      }
  }
  &__name{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      padding: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border: 1px solid $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__description{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      padding: 12px;
      width: calc(100% - 80px);
      border: 1px solid $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__product-detail{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: $gray;
      font-weight: bold;
      font-size: 14px;
    }
  }
  &__category{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
    &__select-box--children{
    }
    &__select-box--grandchildren{
    }
    .box--parent{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
    .box--child{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
    .box--grand-child{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__size{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
    .box--size{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__brand{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__optional{
        background-color: $border-color;
        color: $black;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      padding: 14px;
      height: 40px;
      width: calc(100% - 80px);
      border: 1px solid $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__condition{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__delivery{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: $gray;
      font-weight: bold;
      font-size: 14px;
      &__icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
        color: $white;
        border-radius: 50%;
        background: $main-color;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
  &__postage-way{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__prefecture{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__shipping-day{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        background-color: $main-color;
        color: $white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        vertical-align: top;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      padding-left: 12px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: $border-color;
      border-radius: 4px;
      &:focus {
        border: 1px solid $main-color;
        outline: 0;
      }
    }
  }
  &__price-range{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: $gray;
      font-weight: bold;
      font-size: 14px;
      &__icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
        color: $white;
        border-radius: 50%;
        background: $main-color;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
  &__price{
    padding-top: 40px;
    &__contents{
      &__content{
        padding: 0 0 24px;
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-weight: bold;
              font-size: 14px;
              &__imperative{
                background-color: $main-color;
                color: $white;
                font-size: 12px;
                font-weight: 300;
                border-radius: 2px;
                margin: 4px;
                padding: 4px;
                vertical-align: top;
              }
            }
          }
          &__input{
            width: 50%;
            display: flex;
            &__yen{
              margin: auto 0;
            }
            &__number-box{
              width: 80%;
              text-align: right;
              margin-left: 5%;
              padding-right: 6px;
              border-color: $border-color;
              border-style: solid;
              border-width: 1px;
              border-radius: 4px;
              &:focus {
                border: 1px solid $main-color;
                outline: 0;
              }
            }
          }
        }
      }
    }
  }
  &__commission{
    &__contents{
      &__content{
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &__input{
            width: 50%;
            &__calc-result{
              text-align: right;
              line-height: 40px;
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
  &__profit{
    &__contents{
      &__content{
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &__input{
            width: 50%;
            &__calc-result{
              text-align: right;
              line-height: 40px;
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
  &__submit{
    padding-top: 20px;
    &__submit-btn{
      margin: 20px 180px 0px 180px;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      color: $white;
      width: calc(100% - 360px);
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid $main-color;
      border-radius: 4px;
      background-color: $main-color;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
      &:focus {
        border: 1px solid gray;
        outline: 0;
      }
    }
  }
  &__draft{
    padding-top: 20px;
    &__submit-btn{
      margin: 0px 180px 0px 180px;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      width: calc(100% - 360px);
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid $border-color;
      border-radius: 4px;
      background-color: $border-color;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
      &:focus {
        border: 1px solid gray;
        outline: 0;
      }
    }
  }
  &__page-transition{
    padding: 24px 0;
    &__title{
      text-align: center;
      font-size: 14px;
      &__link{
        text-decoration: none;
        color: $black;
        transition: 0.4s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  &__prohibit{
    padding-top: 40px;
    &__script{
      font-size: 12px;
      margin-left: 40px;
      margin-right: 40px;
      padding-bottom: 40px;
      &__action{
        font-size: 12px;
        text-decoration: none;
        color: $strongblue;
      }
    }
  }
  &__separate-line{
    margin: 20px 0;
    height: 2px;
    background-color: $whitesmoke;
    border: none;
  }
}


  &__footer{
    padding-top: 40px;
    text-align: center;
    width: 100%;
    &__list{
      display: flex;
      justify-content: center;
      margin-right: 30px;
      &__left{
        list-style: none;
        font-size: 12px;
      }
      &__center{
        list-style: none;
        font-size: 12px;
        margin: 0px 10px;
      }
      &__right{
        list-style: none;
        font-size: 12px;
      }
    }
    &__logo{
      padding-top: 20px;
      width: 150px;
    }
    &__logo:hover{
      opacity: 0.7;
    }
    p{
      text-align: center;
      font-size: 12px;
      padding-bottom: 50px;
    }
  }

}