* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.show{
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  &__navbar{
    height: 55px;
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    padding: 0 60px;
    position: relative;
    ul{
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;;
      display: flex;
      li{
        padding: 0 10px 0 0;
        a{
          text-decoration: none;
          color: #333;
        }
    }
    &--last{
      font-weight: bold;
    }
  }

  &__main{
    background-color: #f8f8f8;
    height: 1855px;
    padding: 40px;
    margin: 0 auto;
    &__product{
      height: 1767px;
      width: 700px;
      margin: 0 auto;
      &__content{        

        &__information{
          background-color: #fff;
          padding: 24px 40px 40px;

          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
            ul{
              display: flex;
              position: relative;
              li{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img{
                  object-fit: cover;
                  height: 346px;
                }
                ul{
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li{
                    width: 25%;
                    margin: 0 10px 0 0;
                    img{
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            >span{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &-detail{
              font-size: 16px;
            }
          }
          &__introduction{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__table{
            margin-bottom: 20px;
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              th{
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td{
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
          }

          &__option{
            height: 48px;
            display: flex;
            justify-content: space-between;
            &__btn { 
              margin: 10px 0 0;
              display: flex;
              &--favorite{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
              &--purchase{
                background-color: #3CCACE;
                width: 200px;
                line-height: 38px;
                text-align: center;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  color: white;
                  text-decoration: none;
                }
              }
              &--report{
                height: 35px;
                font-size: 14px;
                a{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }

        &__comment{
          height: 304px;
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__text{
           
          }
          #comment_body{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          &__form{
             height: 256px;
            &__notice{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            &__button{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin-top: 15px;
            }
          }
        }
      }

      &__links{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a{
          text-decoration: none;
          color: #3CCACE;
        }
      }

      &__related{
        margin: 0 auto;
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}