.putup{
  width: 100%;
  background-color: whitesmoke;
  &__header{
    text-align: center;
    &__logo{
      margin:30px 0px;
      width: 150px;
    }
    &__logo:hover{
      opacity: 0.7;
    }
  }

  &__main{
    max-width: 700px;
    margin:0 auto;
    background-color: white;
    &__upload{
      padding-top: 40px;
      &__title{
        margin-left: 40px;
        font-weight: bold;
        font-size: 14px;
        &__imperative{
          border-radius: 2px;
          padding: 2px 4px;
          font-size: 12px;
          background-color:#99FFFF;
        }
      }
      &__description{
        margin: 20px 0px 0px 40px;
        font-size: 14px;
      }
      &__image-box{
        margin: 20px 40px 0px 40px;
        // border-style: dashed;
        width: calc(100% - 80px);
        // background-color: whitesmoke;
      }
  }
  &__name{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
    }
  }
  &__description{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
    }
  }
  &__product-detail{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: gray;
      font-weight: bold;
      font-size: 14px;
    }
  }
  &__category{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-radius: 5px;
    }
    &__select-box--children{
    }
    &__select-box--grandchildren{
    }
  }
  &__brand{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__optional{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#DDDDDD;
      }
    }
    &__text-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
    }
  }
  &__condition{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-radius: 5px;
    }
  }
  &__delivery{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: gray;
      font-weight: bold;
      font-size: 14px;
      &__icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
        color: black;
        border-radius: 50%;
        background: #99FFFF;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
  &__postage-way{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-radius: 5px;
    }
  }
  &__prefecture{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-radius: 5px;
    }
  }
  &__shipping-day{
    padding-top: 40px;
    &__title{
      margin-left: 40px;
      font-weight: bold;
      font-size: 14px;
      &__imperative{
        border-radius: 2px;
        padding: 2px 4px;
        font-size: 12px;
        background-color:#99FFFF;
      }
    }
    &__select-box{
      margin: 20px 40px 0px 40px;
      height: 40px;
      width: calc(100% - 80px);
      border-color: #DDDDDD;
      border-radius: 5px;
    }
  }
  &__price-range{
    padding-top: 20px;
    &__title{
      margin-left: 40px;
      color: gray;
      font-weight: bold;
      font-size: 14px;
      &__icon{
        width: 16px;
        height: 16px;
        font-size: 12px;
        color: black;
        border-radius: 50%;
        background: #99FFFF;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
  &__price{
    padding-top: 40px;
    &__contents{
      &__content{
        padding: 0 0 24px;
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-weight: bold;
              font-size: 14px;
              &__imperative{
                border-radius: 2px;
                padding: 2px 4px;
                font-size: 12px;
                background-color:#99FFFF;
              }
            }
          }
          &__input{
            width: 50%;
            display: flex;
            &__yen{
              margin: auto 0;
            }
            &__number-box{
              width: 80%;
              text-align: right;
              margin-left: 5%;
              border-color: #DDDDDD;
              border-style: solid;
              border-width: 1px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  &__commission{
    &__contents{
      &__content{
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &__input{
            width: 50%;
            &__calc-result{
              text-align: right;
              line-height: 40px;
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
  &__profit{
    &__contents{
      &__content{
        &__frame{
          display: flex;
          &__title-box{
            width: 50%;
            line-height: 40px;
            &__title{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &__input{
            width: 50%;
            &__calc-result{
              text-align: right;
              line-height: 40px;
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
  &__submit{
    padding-top: 20px;
    &__submit-btn{
      margin: 20px 180px 0px 180px;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      width: calc(100% - 360px);
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      border-style: solid;
      border-color: #99FFFF;
      background-color:#99FFFF;
    }
  }
  &__draft{
    padding-top: 20px;
    &__submit-btn{
      margin: 0px 180px 0px 180px;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      width: calc(100% - 360px);
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      border-style: solid;
      border-color: #DDDDDD;
      background-color:#DDDDDD;
    }
  }
  &__page-transition{
    padding-top: 20px;
    &__title{
      text-align: center;
      font-size: 14px;
      &__link{
        text-decoration: none;
        color: #000000;
      }
    }
  }
  &__prohibit{
    padding-top: 40px;
    &__script{
      font-size: 12px;
      margin-left: 40px;
      margin-right: 40px;
      padding-bottom: 40px;
      &__action{
        font-size: 12px;
        text-decoration: none;
        color: #3399FF;
      }
    }
  }
  &__separate-line{
    margin: 20px 0;
    height: 2px;
    background-color: whitesmoke;
    border: none;
  }
}


  &__footer{
    padding-top: 40px;
    text-align: center;
    width: 100%;
    &__list{
      display: flex;
      justify-content: center;
      margin-right: 30px;
      &__left{
        list-style: none;
        font-size: 12px;
      }
      &__center{
        list-style: none;
        font-size: 12px;
        margin: 0px 10px;
      }
      &__right{
        list-style: none;
        font-size: 12px;
      }
    }
    &__logo{
      padding-top: 20px;
      width: 150px;
    }
    &__logo:hover{
      opacity: 0.7;
    }
    p{
      text-align: center;
      font-size: 12px;
      padding-bottom: 50px;
    }
  }

}