.mypage-bar
  .mypage-bar__index
    .mypage-bar__index__user
      .mypage-bar__index__user__tittle
        = image_tag "member_photo_noimage_thumb.png", class: "mypage-bar__index__user__tittle__icon"
        %p.mypage-bar__index__user__icon__tittle__name Name
      .mypage-bar__index__user__list
        %p.mypage-bar__index__user__list__notice
          お知らせ
        %p.mypage-bar__index__user__list__todo
          やることリスト
      .mypage-bar__index__user__product
        = image_tag "hoge.png", class: "mypage-bar__index__user__product__image"
        %p.mypage-bar__index__user__product__text
          サバの水煮を購入しました。
        %i.fas.fa-chevron-right
      .mypage-bar__index__user__product
        = image_tag "hoge.png", class: "mypage-bar__index__user__product__image"
        %p.mypage-bar__index__user__product__text
          サバの水煮を購入しました。
        %i.fas.fa-chevron-right
      .mypage-bar__index__user__show
    .mypage-bar__index__products
      .mypage-bar__index__products__tittle
        .mypage-bar__index__products__doing
        .mypage-bar__index__products__past
        .mypage-bar__index__products__list
        .mypage-bar__index__products__show