.mypage-bar
  .mypage-bar__index
    .mypage-bar__index__user
      .mypage-bar__index__user__tittle
        = image_tag "member_photo_noimage_thumb.png", class: "mypage-bar__index__user__tittle__icon"
        %p.mypage-bar__index__user__icon__tittle__name Name
      .mypage-bar__index__user__notice
      .mypage-bar__index__user__todo
      .mypage-bar__index__user__list
      .mypage-bar__index__user__show
    .mypage-bar__index__products
      .mypage-bar__index__products__tittle
        .mypage-bar__index__products__doing
        .mypage-bar__index__products__past
        .mypage-bar__index__products__list
        .mypage-bar__index__products__show