.mypage-main
  .left_box
    %ul.left_box__mypage_list
      %li.mypage_list mypage   
      %li.mypage_list お知らせ
      %li.mypage_list やることリスト
      %li.mypage_list いいね！一覧
      %li.mypage_list 出品する
      %li.mypage_list 下書き一覧
      %li.mypage_list 出品した商品-出品中
      %li.mypage_list 出品した商品-取引中
      %li.mypage_list 出品した商品-売却済み
      %li.mypage_list 購入した商品-取引中
      %li.mypage_list 購入した商品-過去の取引
      %li.mypage_list ニュース一覧
      %li.mypage_list 評価一覧
      %li.mypage_list ガイド
      %li.mypage_list お問い合わせ
      
    .merupay_head
      %pメルペイ
      %ul.merupay_head_list 
        %li.head_list 
          %p 売上・振込申請
          %i.fas.fa-angle-right (>部分)
        %li.head_list ポイント       

    .config_head 設定
    .config_lists 
      %ul.config__head_list
        %li.head_list プロフィール
        %li.head_list 発送元・お届け住所
        %li.head_list 支払い方法
        %li.head_list メール/パスワード
        %li.head_list 本人情報
        %li.head_list 電話番号の確認
        %li.head_list ログアウト
  
  .right_box
    .mypage_users
      ユーザー
    .mypage_know
      .tab_list
        .notice お知らせ
        .todo やることリスト
      .news_lists
        .list おうちエンタメ
        .list モノガタリ
        .list キャンペーン第２弾
        .list ログイン通知
        .list メルカリで買い物をしょう
        .list 一覧を見る

    .mypage_buyitem 
      購入品
      .tab_lists
        .dealings 取引中
        .past_dealing 過去の取引
      .news_lists
        .list 取引中の商品がありません
