.footer
  %ul.footer__contents
    %li.footer__contets__content
      %h2.footer__contents__content__heading FURIMAについて
      %ul.footer__contents__content__lists
        %li.footer__contents__content__lists__list
          =link_to "会社概要（運営会社）", "#"
        %li.footer__contents__content__lists__list
          =link_to "プライバシーポリシー", "#"
        %li.footer__contents__content__lists__list
          =link_to "FURIMA利用規約", "#"
        %li.footer__contents__content__lists__list
          =link_to "ポイントに関する特約", "#"
          =link_to "住所",new_destination_path

    %li.footer__contets__content
      %h2.footer__contents__content__heading FURIMAを見る
      %ul.footer__contents__content__lists
        %li.footer__contents__content__lists__list
          =link_to "カテゴリー一覧", "#"
        %li.footer__contents__content__lists__list
          =link_to "ブランド一覧", "#"

    %li.footer__contets__content
      %h2.footer__contents__content__heading FURIMAについて
      %ul.footer__contents__content__lists
        %li.footer__contents__content__lists__list
          =link_to "FURIMAガイド", "#"
        %li.footer__contents__content__lists__list
          =link_to "FURIMAロゴ利用ガイドライン", "#"
        %li.footer__contents__content__lists__list
          =link_to "お知らせ", "#"

  .footer__logo
    = image_tag 'logo-white.png', class: "footer__logo__image" , width: "160px" , height: "46px"
  %p.footer__copyright ©️ FURIMA 