/*-- bottom-banner --*/
.bottom-banner {
  background-image: image-url("bg-appBanner-pict.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 40px;
  display: flex;
  align-items: center;

  &__content {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      line-height: 1.4;
      color: $white;
      text-align: center;
    }

    &__text {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 35px;
      color: $white;
      text-align: center;
    }

    &__stores {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      
      &__store-btn {
        margin-right: 10px;

        &:hover {
          transition: 0.4s;
          opacity: 0.5 ;
        }
        &__app-store {
          width: 180px;
          height: 53px;
        }
        &__google-play {
          width: 180px;
          height: 53px;
        }
      }
    }
  }
}
/*-- end bottom-banner --*/