.footer {
  color: $white;
  background-color: $bg-black;
  padding: 60px 0;
  text-align: center;

  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    &__content {
      &__heading {
        font-size: 16px;
        margin-bottom: 20px;
      }

      &__lists {
        &__list {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // --澤内修正--
  &__logo {
    &__image {
      width: 160px;
      height: 46.34px;
    }
  }
  // -----------

  &__copyright {
    font-size: 14px;
  }
}