
.nav__left__category{
  position: relative;
  span{
    display: block;
  }
  .category_list{
    visibility: hidden;
    display: flex;
    position: absolute;
    background-color:white;
    height: 448px;
    .parents_list{
      box-shadow: 0 1px 1px 0 black;
      width: 200px;
      overflow: hidden;
    }
    .parent_category{
      padding-left: 10px;
    }
    .child_category{
      padding: 0px 5px;
      width: 200px;
      padding-left: 10px;
    }
    .children_list{
      box-shadow: 0 1px 1px 0 black;
      background-color: white;
      overflow: hidden;
    }
    .grand_child_category{
      padding-left: 10px;
      width: 250px;
    }
    .grand_children_list{
      background-color: white;
      box-shadow: 0 1px 1px 0 black;
      overflow: hidden;
    }

  }
}

.selected-parent{
  background-color: #99ffff;
}

.selected-child{
  background-color: lightblue;
}

.grand_child_category:hover{
  background-color: lightskyblue;
}

.nav__left__category:hover .category_list{
  visibility: visible;
}