
.header { 
  height: 100px;
  background-color:#f8f8f8;
  // margin: auto;
  z-index: 1001;
  width: 100%;

  .header__inner {
    width: 100vw;
    // margin: 0;
    // padding: 0;
    .header_form {
      width: 50%;
      height: 35%;
      display: flex;
      background: #f5f5f5;
      border-radius: 4px;
      margin-top: 20px;
      margin-left:30px;
      width: 90%;
    }
  }
    .header__top {
      margin: 8px 0 0;
    }
    .header__nav-box{
      margin: 8px 0 0;
    }
}
