.sell-btn {
  width: 120px;
  background: $main-color;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  transition: 0.4s;
  &:hover {
    opacity: 0.9;
  }

  &__text {
    color: $white;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__icon {
    width: 60%;
  }
}