*, *:before, *:after {
  box-sizing: border-box;
}

.signup-creditcard {
  width: 100%;
  background-color: whitesmoke;

  &__header {
    text-align: center;
    &__logo {
      margin: 30px 0px;
      width: 150px;
      transition: 0.4s;
    }
    &__logo:hover {
      opacity: 0.6;
    }
  }
  //-- クレジットカード未登録 --//
  &__main {
    text-align: center;
    &__container {
      height: 100%;
      width: 720px;
      background-color: $white;
      border-radius: 1px;
      margin: auto;
      padding-bottom: 36px;
      
      &__head {
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid whitesmoke;
        padding: 12px;
      }

      &__register-form {
        text-align: left;
        &__label {
          font-size: 14px;
          font-weight: 600;
          margin: 36px 0 0 216px;
        }
        .icon {
          color: gray;
        }
        &__image {
          display: flex;
          margin: 6px 0 0 216px;
        }
        
        .form-require {
          background-color: $main-color;
          color: $white;
          font-size: 12px;
          font-weight: 300;
          border-radius: 2px;
          margin: 4px;
          padding: 4px;
          vertical-align: top;
        }
        .term-label {
          font-size: 12px;
        }

        //-- input関連 --//
        .number, .cvc {
          height: 50px;
          width: 300px;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          font-size: 14px;
          margin: 4px 0 0 216px;
          padding: 12px;
        }
        .number:focus, .cvc:focus {
          border: 1px solid $main-color;
          outline: 0;
        }
        .term {
          display: flex;
          margin: 4px 0 0 216px;
          .input-term {
            height: 50px;
            width: 100px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            font-size: 14px;
            color: #888888;
            padding: 8px;
          }
          .term-label {
            font-size: 14px;
            line-height: 25px;
            margin: 12px;
          }
        }

        &__btn {
          cursor: pointer;
        }
        #token_submit {
          height: 48px;
          width: 300px;
          background-color: $main-color;
          border: 1px solid $main-color;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          color: $white;
          margin: 36px 0 0 216px;
          transition: 0.4s;
        }
        #token_submit:focus {
          border: 1px solid $main-color;
          outline: 0;
        }
        #token_submit:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    text-align: center;
    &__list {
      display: flex;
      justify-content: center;
      margin-right: 30px;
      &__left {
        list-style: none;
        font-size: 12px;
      }
      &__center {
        list-style: none;
        font-size: 12px;
        margin: 0px 10px;
      }
      &__right {
        list-style: none;
        font-size: 12px;
      }
    }
    &__logo {
      width: 150px;
      transition: 0.4s;
    }
    &__logo:hover {
      opacity: 0.6;
    }
    p {
      text-align: center;
      font-size: 12px;
      padding-bottom: 50px;
    }
  }
}

//-- クレジットカード登録済 --//
.purchase-confirmation {
  &__title {
    margin-top: 6px;
  }
  &__info {
    &__brand {
      margin-top: 12px;
      &__img {
        height: 24%;
        width: 24%;
      }
    }
    &__numbers {
      &__number {
        margin-top: 6px;
      }
      &__expiration-date {
        &__label {
          margin-top: 12px;
        }
      }
    }
  }
  &__destroy-btn {
    float: right;
    margin-top: -24px;
    a {
      height: 48px;
      width: 100px;
      cursor: pointer;
      background-color: $white;
      border: 1px solid $main-color;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      color: $main-color;
      text-align: center;
      padding: 12px;
    }
  }
}