/*--- font-family ---*/
* {
  font-family: "Source Sans Pro", Helvetica, Arial,
  游ゴシック体, YuGothic, メイリオ, Meiryo, 
  sans-serif;
}


/*--- color ---*/
$main-color :#3CCACE;
$black: #333;
$white: #fff;
$whitesmoke :whitesmoke;
$gray: gray;
$red: red;
$strongblue :#3399FF;

$bg-gray: #f8f8f8;
$bg-black: #272727;
$border-color: #DDDDDD;
$imperative-blue: #99FFFF;