/*--- font-family ---*/
* {
  font-family: "Source Sans Pro", Helvetica, Arial,
  游ゴシック体, YuGothic, メイリオ, Meiryo, 
  sans-serif;
}


/*--- color ---*/
$main-color :#3CCACE;
$black: #333;
$white: #fff;

$bg-gray: #f8f8f8;
$bg-black: #272727;