.main
  .left_box
    .left_box__mypage_list
      マイページ
    .merupay_head
      メルペイ
    .merupay_config
    .config_head
      設定
    .config_list
  .right_box
    .mypage_user
      ユーザー
    .mypage_know
      お知らせ
    .mypage_buyitem 
      購入品
