.header
  .header__inner
    .head_form
      = image_tag 'FURIMA_top.svg'
      %input.search_bar{placeholder: "何かお探しですか?" }
    .header__nav-box
      .header_left_box
        .header_left_box__seek  
        .header_left_box__brand
      .header_right_box
        .header_right_box__like_index
        .header_right_box__notice
        .header_right_box__todo
        .header_right_box__mypage
    

