.side-bar
  %h1
    メニュー
  .menu
    .menu__mypage
      =link_to "マイページ", user_path(current_user.id),class: "menu__mypage__link"
      %i.fas.fa-chevron-right
    .menu__product
      =link_to "出品する", new_product_path ,class: "menu__product__link"
      %i.fas.fa-chevron-right
    .menu__edit
      =link_to "下書き一覧", "#" ,class: "menu__edit__link"
      %i.fas.fa-chevron-right
    .menu__exhibition
      =link_to "出品した商品", "#" ,class: "menu__exhibition__link"
      %i.fas.fa-chevron-right
    .menu__buy
      =link_to "購入した商品", "#" ,class: "menu__buy__link"
      %i.fas.fa-chevron-right
  %h1
    設定
  .config
    .config__user
      =link_to "プロフィール編集", "#" ,class: "config__user__link"
      %i.fas.fa-chevron-right
    .config__destinations
      -if current_user.destination.nil?
        =link_to "発送元・お届け先住所登録", new_user_destination_path(current_user.id) ,class: "config__destinations__link"
        %i.fas.fa-chevron-right
      -else
        =link_to "発送元・お届け先住所変更",edit_user_destination_path(current_user.id),class: "config__destinations__link"
        %i.fas.fa-chevron-right
    .config__card
      =link_to "クレジットカード登録", user_credit_path(current_user.id) ,class: "config__card__link"
      %i.fas.fa-chevron-right
    .config__logout
      =link_to "ログアウト", "#" ,class: "config__logout__link"
      %i.fas.fa-chevron-right