%ul.putup__footer__list
  %li.putup__footer__list__left プライバシーポリシー
  %li.putup__footer__list__center FURIMA利用規約
  %li.putup__footer__list__right 特定商取引に関する表記
= link_to (image_tag"FURIMA_top.svg",class:"putup__footer__logo"),root_path

%p ©️FURIMA inc