*, *:before, *:after {
  box-sizing: border-box;
}

//-- クレジットカード未登録 --//
.mypage-card {
  width: auto;
  height: auto;
  margin-top: 50px;
  background-color: whitesmoke;

  &__main {
    text-align: center;
    &__container {
      height: 100%;
      width: 650px;
      background-color: $white;
      border-radius: 1px;
      margin: auto;
      padding-bottom: 36px;
      
      &__head {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        border-bottom: 2px solid whitesmoke;
        padding: 12px;
      }

      &__register-form {
        text-align: left;
        &__label {
          font-size: 14px;
          font-weight: 600;
          margin: 36px 0 0 176px;
        }
        .icon {
          color: gray;
        }
        &__image {
          display: flex;
          margin: 6px 0 0 176px;
          .mastercard {
            margin-left: 2px;
          }
          .JCB {
            margin-left: 2px;
          }
          .AmericanExpress {
            margin-left: 2px;
          }
          .DinersClub {
            margin-left: 2px;
          }
          .DISCOVER {
            margin-left: 2px;
          }
        }
        
        .form-require {
          background-color: $main-color;
          color: $white;
          font-size: 12px;
          font-weight: 300;
          border-radius: 2px;
          margin: 4px;
          padding: 4px;
          vertical-align: top;
        }
        .term-label {
          font-size: 12px;
        }

        // input関連
        .number, .cvc {
          height: 50px;
          width: 300px;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          font-size: 14px;
          margin: 4px 0 0 176px;
          padding: 12px;
        }
        .number:focus, .cvc:focus {
          border: 1px solid $main-color;
          outline: 0;
        }
        .term {
          display: flex;
          margin: 4px 0 0 176px;
          .input-term {
            height: 50px;
            width: 100px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            font-size: 14px;
            color: #888888;
            padding: 8px;
          }
          .term-label {
            font-size: 14px;
            line-height: 25px;
            margin: 12px;
          }
        }

        &__btn {
          cursor: pointer;
        }
        #token_submit {
          height: 48px;
          width: 300px;
          background-color: $main-color;
          border: 1px solid $main-color;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          color: $white;
          margin: 36px 0 0 176px;
          transition: 0.4s;
        }
        #token_submit:focus {
          border: 1px solid $main-color;
          outline: 0;
        }
        #token_submit:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

//-- クレジットカード登録後 --//
.confirmation {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 50px;
  &__main {
    height: auto;
    width: 650px;
    background-color: $white;
    border-radius: 1px;
    margin: auto;
    padding-bottom: 48px;
    
    &__title {
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid whitesmoke;
      padding: 12px;
    }
    
    &__info {
      text-align: left;
      &__brand {
        &__img {
          height: 12%;
          width: 12%;
          margin: 36px 0 0 176px;
        }
      }
      &__numbers {
        .number{
          font-size: 14px;
          margin: 12px 0 0 176px;
        }
        .expiration-date {
          display: flex;
          font-size: 14px;
          margin: 12px 0 0 176px;
          &__label {
            font-weight: 600;
          }
          &__info {
            margin: 2px 0 0 6px;
          }
        }
      }
    }
    .destroy-btn {
      text-align: left;
      margin: -36px 0 0 192px;

      a {
        height: 48px;
        width: 300px;
        cursor: pointer;
        background-color: $white;
        border: 1px solid $main-color;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        color: $main-color;
        padding: 12px;
      }
    }
  }
}