*, *:before, *:after {
  box-sizing: border-box;
}

.mypage-bar {
  width: 650px;
  height: auto;
  padding: 50px 0px;
  h1 {
    font-weight: bold;
    font-size: 16px;
  }
  &__index {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    //ユーザー画像から１つ目の「一覧を見る」まで。
    &__user {
      background-color: white;

      &__title {
        display: table;
        width: 100%;
        height: 150px;
        background-image: image-url("mizutama.jpg");
        text-align: center;
        &__icon {
          width: 50px;
          height: 50px;
          margin-top: 50px;
        }
        //Nameについては、サーバーサイド実装の際に追記する。
      }

      &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        &__notice {
          width: 50%;
          line-height: 50px;
          border-top: 2px solid $main-color;
        }
        &__todo {
          width: 50%;
          line-height: 50px;
          background-color: lightgray;
        }
      }

      &__product {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px whitesmoke solid;
        &__image {
          width: 50px;
          height: 50px;
          margin-left: 30px;
        }
        &__text {
          width: 600px;
          font-size: 14px;
        }
        i {
          margin-right: 18px;
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.2s ease 0s;
        }
      }
      &__product:hover {
        opacity: 0.7;
      }

      &__show {
        width: 100%;
        height: 60px;
        text-align: center;
        margin-bottom: 50px;
        &__display-btn {
          width: 90%;
          line-height: 50px;
          margin: 10px auto;
          background-color: lightgray;
          color: gray;
          font-weight: lighter;
          font-size: 14px;
        }
      }
    }
    //ここまで。

    //「購入した商品」から２つ目の「一覧を見る」まで。
    &__buy {
      background-color: white;

      &__title {
        line-height: 80px;
        margin-left: 30px;
      }

      &__list {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        &__doing {
          width: 50%;
          line-height: 50px;
          border-top: 2px solid $main-color;
        }
        &__history {
          width: 50%;
          line-height: 50px;
          background-color: lightgray;
        }
      }

      &__product {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px whitesmoke solid;
        &__image {
          width: 50px;
          height: 50px;
          margin-left: 30px;
        }
        &__text {
          width: 600px;
          font-size: 14px;
        }
        i {
          margin-right: 18px;
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.2s ease 0s;
        }
      }
      &__product:hover {
        opacity: 0.7;
      }

      &__show {
        width: 100%;
        height: 60px;
        text-align: center;
        &__display-btn {
          width: 90%;
          line-height: 50px;
          margin: 10px auto;
          background-color: lightgray;
          color: gray;
          font-weight: lighter;
          font-size: 14px;
        }
      }
    }
    //ここまで。
  }
}
