*, *:before, *:after {
  box-sizing: border-box;
}

.sign-up {
  &__main {
    text-align: center;
    &__form {
      height: auto;
      width: 32%;
      min-width: 500px;
      background-color: $white;
      border-radius: 1px;
      box-shadow: 0 0 3.6px gray;
      margin: 0 auto;
      
      &__index {
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid lightgray;
        padding: 36px 0px;
      }
        
      &__notice {
        font-size: 14px;
        color: $black;
        text-align: center;
        margin-top: 20px;
      }

      &__btn {
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        font-size: 10pt;
        text-align: center;
        cursor: pointer;
        margin: 20px 0px;
        width: 300px;
        line-height: 40px;
        background: $main-color;
        color: $white;
      }
    }
  }
}
