*, *:before, *:after {
  box-sizing: border-box;
}

.sign-in {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;

  &__header {
    text-align: center;
    &__logo {
      margin: 30px 0px;
      width: 150px;
    }
    &__logo:hover {
      opacity: 0.7;
    }
  }

  &__main {
    text-align: center;
    &__form {
      height: auto;
      width: 32%;
      min-width: 500px;
      background-color: $white;
      border-radius: 1px;
      box-shadow: 0 0 3.6px gray;
      text-align: center;
      margin: 0 auto;
      &__index {
        font-size: 24px;
        font-weight: bold;
        border-bottom: 1px solid lightgray;
        padding: 36px 0px;
      }
        
      &__notice {
        font-size: 14px;
        color: $black;
        text-align: center;
        margin-top: 20px;
      }

      &__btn {
        display: inline-block;
        text-decoration: none;
        width: 300px;
        background: $main-color;
        font-size: 14px;
        color: $white;
        text-align: center;
        border-radius: 4px;
        line-height: 40px;
        text-align: center;
        margin: 20px 0px;
        cursor: pointer;
      }
    }
  }

  &__footer {
    width: 100%;
    text-align: center;
    &__list {
      display: flex;
      justify-content: center;
      margin-right: 30px;
      &__left {
        list-style: none;
        font-size: 12px;
      }
      &__center {
        list-style: none;
        font-size: 12px;
        margin: 0px 10px;
      }
      &__right {
        list-style: none;
        font-size: 12px;
      }
    }
    &__logo {
      width: 150px;
    }
    &__logo:hover {
      opacity: 0.7;
    }
    p {
      text-align: center;
      font-size: 12px;
      padding-bottom: 50px;
    }
  }
}
