*, *:before, *:after {
  box-sizing: border-box;
}

.signin {
  width: 100%;
  background-color: whitesmoke;
  &__header {
    text-align: center;
    &__logo {
      margin:30px 0px;
      width: 150px;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__main {
    text-align: center;
    &__form {
      background-color: white;
      box-shadow: 0 0 4px gray;
      height: auto;
      width: 32%;
      min-width: 500px;
      margin: 0 auto;
      &__signup {
        font-size: 14px;
        border-bottom: 1px solid lightgray;
        padding: 30px 0px;
        &__vanar {
          display: block;
          text-decoration: none;
          width: 300px;
          background-color: #0066FF;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          color: $white;
          line-height: 20px;
          margin: 10px auto 0px;
          padding: 10px 0px;
          transition: 0.4s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      &__login {
        padding: 30px 0px;
        &__sns {
          margin-bottom: 30px;
          &__facebook {
            margin: 0px auto 10px;
            text-decoration: none;
            border-radius: 4px;
            color: white;
            display: block;
            padding: 10px 0px;
            line-height: 25px;
            width: 300px;
            background-color: #3b5998;
            font-size: 12px;
            transition: 0.4s;
            &:hover {
              opacity: 0.6;
              @include unimplemented;
            }
          }
          &__google {
            margin: 10px auto;
            text-decoration: none;
            border-radius: 4px;
            color:black;
            display: block;
            padding: 10px 0px;
            line-height: 25px;
            width: 300px;
            border: 1px black solid;
            font-size: 12px;
            transition: 0.4s;
            &:hover {
              opacity: 0.6;
              @include unimplemented;
            }
          }
        }
        &__input {
          font-size: 14px;
          &__mail {
            line-height: 40px;
            width: 300px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            margin-bottom: 12px;
            padding-left: 6px;
            &:focus {
              border: 1px solid $main-color;
              outline: 0;
            }
          }
          &__pass {
            line-height: 40px;
            width: 300px;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            margin-bottom: 30px;
            padding-left: 6px;
            &:focus {
              border: 1px solid $main-color;
              outline: 0;
            }
          }
          
          h3 {
            margin: 0 auto;
            background-color: lightslategray;
            line-height: 60px;
            border-radius: 4px;
            width: 300px;
            color: white;
            font-size: 12px;
            font-weight: lighter;
          }
          &__btn {
            display: inline-block;
            width: 300px;
            background-color: #ff3333;
            border: 1px solid #ff3333;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            color: $white;
            text-align: center;
            margin: 20px 0px;
            line-height: 40px;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
              opacity: 0.6;
            }
          }

          &__forget {
            text-decoration: none;
            font-size: 12px;
            color: #ff3333;
            transition: 0.4s;
            &:hover {
              color: $main-color;
            }
            &:focus {
              border: 1px solid #ff3333;
            }
          }
        }
      }
    }
  }
  &__footer {
    text-align: center;
    width: 100%;
    &__list {
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      &__left {
        list-style: none;
        font-size: 12px;
      }
      &__center {
        list-style: none;
        font-size: 12px;
        margin: 0px 10px;
      }
      &__right {
        list-style: none;
        font-size: 12px;
      }
    }
    &__logo {
      width: 150px;
      transition: 0.4s;
      &:hover {
        opacity: 0.7;
      }
    }
    &__sitename {
      text-align: center;
      font-size: 12px;
      padding-bottom: 50px;
    }
  }
}